.container-fluid {
    max-width: 1000px;
}

.definitions th:first-child {
    text-align: right;
    width: 25%;
}

.spec h3 {
    font-style: italic;
}

.toc ol {
    counter-reset: item;
}

.toc li {
    display: block;
}

.toc li:before {
    content: counters(item, '.') '. ';
    counter-increment: item;
}

.use-case td > *:last-child {
    margin-bottom: 0;
}

.use-case th:first-child {
    text-align: right;
    width: 25%;
}

.use-case .number {
    font-weight: bold;
    margin-right: 15px;
}

@media not print {
    .toc ol {
        padding-left: 17px;
    }

    .toc > ol {
        padding-left: 0;
    }
}

@media print {
    table {
        page-break-inside: auto;
    }

    tr {
        page-break-inside: auto;
    }

    .page-break {
        clear: both;
        display: block;
        page-break-after: always;
    }
}

@media print and (-webkit-min-device-pixel-ratio: 0) {
    @page {
        margin-left: 13mm;
        margin-right: 13mm;
    }

    body {
        width: 190mm;
    }
}
