.container-fluid {
    max-width: 1000px;
}

.definitions th:first-child {
    text-align: right;
    width: 25%;
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.menu a,
.menu a {
    background-color: rgba(255, 255, 255, 0.75);
}

.spec {
    counter-reset: h2;
}

.spec h2:before,
.spec h3:before,
.spec h4:before,
.spec h5:before,
.spec h6:before {
    color: #acacac;
    padding-right: .5em;
}

.spec h2 {
    counter-reset: h3;
}

.spec h2:before {
    content: counter(h2);
    counter-increment: h2;
}

.spec h3 {
    counter-reset: h4;
    font-style: italic;
}

.spec h3:before {
    content: counter(h2) '.' counter(h3);
    counter-increment: h3;
}

.spec h4 {
    counter-reset: h5;
}

.spec h4:before {
    content: counter(h2) '.' counter(h3) '.' counter(h4);
    counter-increment: h4;
}

.spec h4.panel-title:before {
    content: '';
    counter-increment: none;
}

.toc {
    z-index: 1;
}

.toc ol {
    counter-reset: item;
}

.toc li {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toc li:hover {
    overflow: visible;
}

.toc li:before {
    content: counters(item, '.') '. ';
    counter-increment: item;
}

.toc li:hover > a {
    background-color: #ffffff;
}

.toc li.id:before {
    margin-right: 5px;
}

.requirement td > ol,
.use-case td > ol {
    padding-left: 1.2em;
}

.requirement td > ul,
.use-case td > ul {
    padding-left: 1em;
}

.requirement td > *:last-child,
.use-case td > *:last-child {
    margin-bottom: 0;
}

.requirement th:first-child,
.use-case th:first-child {
    text-align: right;
    width: 25%;
}

.requirement .number,
.use-case .number {
    font-weight: bold;
    margin-right: 15px;
}

@media not print {
    .menu .disabled {
        display: inherit;
    }

    .menu .enabled {
        display: none;
    }

    .dark-mode .menu .disabled {
        display: none;
    }

    .dark-mode .menu .enabled {
        display: inherit;
    }

    .dark-mode .menu a,
    .dark-mode .menu a {
        background-color: rgba(51, 51, 51, 0.75);
    }

    .dark-mode {
        background-color: #333333;
        color: #f8f8f8;
    }

    .dark-mode a {
        color: #b7683f;
    }

    .dark-mode a:focus,
    .dark-mode a:hover {
        color: #e7773d;
    }

    .dark-mode .nav > li > a:focus,
    .dark-mode .nav > li > a:hover {
        background-color: #454545;
    }

    .dark-mode .panel {
        background-color: #333333;
    }

    .dark-mode .panel-default {
        border-color: #454545;
    }

    .dark-mode .panel-heading {
        background-color: #2b2b2b;
        border-color: #454545;
        color: #f8f8f8;
    }

    .dark-mode .table > tbody > tr > td,
    .dark-mode .table > tbody > tr > th,
    .dark-mode .table > thead > tr > th,
    .dark-mode .table-bordered td,
    .dark-mode .table-bordered th {
        border-color: #454545;
    }

    .dark-mode .table-striped > tbody > tr:nth-of-type(2n+1) {
        background-color: #2b2b2b;
    }

    .dark-mode .toc li:hover > a {
        background-color: #333333;
    }

    .toc ol {
        padding-left: 17px;
    }

    .toc > ol {
        padding-left: 0;
    }
}

@media print {
    table {
        page-break-inside: auto;
    }

    tr {
        page-break-inside: auto;
    }

    .menu {
        display: none;
    }

    .page-break {
        clear: both;
        display: block;
        page-break-after: always;
    }
}

@media print and (-webkit-min-device-pixel-ratio: 0) {
    @page {
        margin-left: 13mm;
        margin-right: 13mm;
    }

    body {
        width: 190mm;
    }
}
